<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
     </button>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#if LoggedIN}}
            <li><a href="/console">Console</a></li>
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/">Login</a></li>
            <li><a href="/registerForm">Register</a></li>
          {{/if}}
        </ul>
    </div>
  </div>
</div>