<html>
<head>
{{>head}}
</head>
<body>
{{>includeMenu}}
<br><br><br><br>
 <div class="container">
   <div class="row">
    <div align="center">
        <blockquote class="mainLines">
            <code>Yikes !!! something went wrong as you tried to access this page</code>
                  Probably this happened because there are some bugs in the application
        </blockquote>

        <blockquote class="mainLines">
                  {{err}}
        </blockquote>
    <br/>
    </div>
 </div>

{{>jsIncludes}}
</body>
</html>



