<html>
<head>
{{>head}}
</head>
<body>
{{>includeMenu}}
<br><br><br><br>
 <div class="container">
  <div class="row">
  <br><br><br>
  <form class="margin-base-vertical" method="post" action="/saveChanges">
      <p class="input-group ">
      Technology : <input type="text" class="form-control input-lg" name="techname" readonly value="{{techRec.tech}}" />
      </p>
      <p class="input-group ">
      Description: <input type="text" required class="form-control input-lg" name="techdescr" value="{{techRec.description}}" />
      </p><br/>
      <p class="text-center">
      <button type="submit" class="btn btn-success btn-lg">Post Changes</button>
      </p>
  </form>
 </div>
</div>
{{>jsIncludes}}
</body>
</html>