<html>
<head>
{{>head}}
</head>
<body>
 {{>includeMenu}}
<br><br><br><br>
 <div class="container">
   <div class="row">
	<div align="center">
      <H4>{{message}} </H4>
    </div>
   </div>
 </div>
{{>jsIncludes}}
</body>
</html>
