<!-- add.html -->
<div class="jumbotron text-center" > 
  <h3>Add Tech</h3>
  <div class="container" >
	<div class="row">
		<br><br>
		<form class="margin-base-vertical" ng-submit="aController.addFormSubmit()" >
		  <p class="input-group"><span ng-bind="aController.message"></span></p>
		  <p class="input-group">
		  Technology : <input type="text" class="form-control input-lg" name="techname"  ng-model="aController.addTech.tech" />
		  </p>
		  <p class="input-group ">
		  Description: <input type="text" required class="form-control input-lg" name="techdescr" ng-model="aController.addTech.description" />
		  </p><br/>
		  <p class="text-center">
		  <button type="submit" class="btn btn-success btn-lg">Post Changes</button>
		  </p>
	</form>
	</div>
  </div>
</div>

